@model CNPMLyThuyet.Model.ThietBi

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_KyThuat.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>ThietBi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenTB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySuDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySuDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLanBaoTri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLanBaoTri)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaTB }, new { @class = "btn btn-primary" }) |
    <a href="/ThietBis/Index" class="btn btn-success">Trở lại</a>
</p>
