@model CNPMLyThuyet.Model.NhanVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_NhanSu.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>NhanVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.NameID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.NameID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhongBan.TenPB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhongBan.TenPB)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaNV }, new {@class="btn btn-primary"}) |
    <a href="/NhanSuNV/Index" class="btn btn-success">Trở lại</a>
</p>
