<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async type="text/javascript" src="https://aeonmall-tanphuceladon.com.vn/wp-admin/admin-ajax.php?action=pll_xdata_check&#038;redirect=https%3A%2F%2Faeonmall-tanphuceladon.com.vn%2Fban-do-san%2F&#038;nonce=fe09163e8d"></script>

    <link rel="alternate" href="https://aeonmall-tanphuceladon.com.vn/ban-do-san/" hreflang="vi" />
    <link rel="alternate" href="https://aeonmall-tanphuceladon-en.com/floor/" hreflang="en" />
    <link rel='dns-prefetch' href='//maps.googleapis.com' />
    <link rel='dns-prefetch' href='//www.youtube.com' />
    <link rel='stylesheet' id='wp-block-library-css' href='https://aeonmall-tanphuceladon.com.vn/wp-includes/css/dist/block-library/style.min.css?ver=5.8' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css' href='https://aeonmall-tanphuceladon.com.vn/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.4.2' type='text/css' media='all' />
    <link rel='stylesheet' id='aeonmalls-font-css' href='https://aeonmall-tanphuceladon.com.vn/wp-content/themes/aeonmalls/assets/css/font-icons.css?ver=5.8' type='text/css' media='all' />
    <link rel='stylesheet' id='aeonmalls-vendor-css' href='https://aeonmall-tanphuceladon.com.vn/wp-content/themes/aeonmalls/assets/css/vendor.css?ver=5.8' type='text/css' media='all' />
    <link rel='stylesheet' id='aeonmalls-custom-css' href='https://aeonmall-tanphuceladon.com.vn/wp-content/themes/aeonmalls/assets/css/custom.css?ver=5.8' type='text/css' media='all' />
    <link rel='stylesheet' id='aeonmalls-main-css' href='https://aeonmall-tanphuceladon.com.vn/wp-content/themes/aeonmalls/assets/css/main.css?ver=5.8' type='text/css' media='all' />
    <link rel='stylesheet' id='aeonmalls-events-css' href='https://aeonmall-tanphuceladon.com.vn/wp-content/themes/aeonmalls/assets/css/events.css?ver=5.8' type='text/css' media='all' />
    <script type='text/javascript' src='https://aeonmall-tanphuceladon.com.vn/wp-includes/js/jquery/jquery.min.js?ver=3.6.0' id='jquery-core-js'></script>
    <script type='text/javascript' src='https://aeonmall-tanphuceladon.com.vn/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2' id='jquery-migrate-js'></script>
    <script type='text/javascript' src='https://aeonmall-tanphuceladon.com.vn/wp-content/plugins/stop-user-enumeration/frontend/js/frontend.js?ver=1.3.31' id='stop-user-enumeration-js'></script>
    <script type='text/javascript' src='https://aeonmall-tanphuceladon.com.vn/wp-content/themes/aeonmalls/assets/js/vendor.js?ver=5.8' id='aeonmalls-vendor-js'></script>
    <script type='text/javascript' src='https://aeonmall-tanphuceladon.com.vn/wp-content/themes/aeonmalls/assets/js/imagesloaded.js?ver=5.8' id='aeonmalls-imagesloaded-js'></script>
    <script type='text/javascript' src='https://aeonmall-tanphuceladon.com.vn/wp-content/themes/aeonmalls/assets/js/matchHeight.js?ver=5.8' id='aeonmalls-matchHeight-js'></script>
    <script type='text/javascript' src='https://aeonmall-tanphuceladon.com.vn/wp-content/themes/aeonmalls/assets/js/loadmore.js?ver=5.8' id='aeonmalls-loadmore-js'></script>
    <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDSoMBw8F6cGhrZCEq437mzRwcgs8PRumo&#038;callback_js&#038;ver=5.8' id='aeonmalls-google-js'></script>
    <script type='text/javascript' src='https://www.youtube.com/iframe_api?ver=5.8' id='aeonmalls-youtube-js'></script>
    <script type='text/javascript' src='https://aeonmall-tanphuceladon.com.vn/wp-content/themes/aeonmalls/assets/js/plugins.js?ver=5.8' id='aeonmalls-plugin-js'></script>
    <script type='text/javascript' src='https://aeonmall-tanphuceladon.com.vn/wp-content/themes/aeonmalls/assets/js/custom.js?ver=5.8' id='aeonmalls-custom-js'></script>
    <script type='text/javascript' src='https://aeonmall-tanphuceladon.com.vn/wp-content/themes/aeonmalls/assets/js/main.js?ver=5.8' id='aeonmalls-main-js'></script>
    <link rel="https://api.w.org/" href="https://aeonmall-tanphuceladon.com.vn/api-app/" />
    <meta name="generator" content="WordPress 5.8" />
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <link rel="icon" href="https://aeonmall-tanphuceladon.com.vn/wp-content/uploads/2018/10/Logo-AeonMall-LB-SX-01-1-150x150.jpg" sizes="32x32" />
    <link rel="icon" href="https://aeonmall-tanphuceladon.com.vn/wp-content/uploads/2018/10/Logo-AeonMall-LB-SX-01-1-300x300.jpg" sizes="192x192" />
    <link rel="apple-touch-icon" href="https://aeonmall-tanphuceladon.com.vn/wp-content/uploads/2018/10/Logo-AeonMall-LB-SX-01-1-300x300.jpg" />
    <meta name="msapplication-TileImage" content="https://aeonmall-tanphuceladon.com.vn/wp-content/uploads/2018/10/Logo-AeonMall-LB-SX-01-1-300x300.jpg" />
    <style type="text/css" id="wp-custom-css">

        max-width: 75%!important;
        margin-bottom: 5px;
        }
        }

        .item-tab-info .h1 {
            text-align: justify;
        }

        .sm-shopping-content {
            line-height: 23px;
        }

        /* Fix customer fb chat */
        /*
        .main-content, section {
            z-index: 3!important;
        }
        #fb-root, #fb-root iframe {
            z-index: 1!important;
        }
        .fb_iframe_widget {
            z-index: 2!important;
        }
        */
        /*.fb_iframe_widget iframe {
            position: absolute!important;
        }*/
        .grecaptcha-badge {
            display: none !important;
        }

        .header.header-style-4 .menu-style ul a {
            font-weight: normal;
            color: #333;
        }
        /*
        .facilities-icon-number .number {
            color: #000;
        }*/
        .menu > li.none-mnsportive a {
            color: #b60081;
            font-weight: 600;
        }

        .language-container.d-lg-block {
            right: -50px;
        }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-44211670-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-44211670-1');
    </script>
    <script defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.3"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light">
        <div class="container">
            @Html.ActionLink("Trung tâm thương mại", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Bản đồ sàn ", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Thông tin tổng quát", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Danh sách mặt bằng", "DanhSachMatBangs", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    @if (Session["TaiKhoan"] != null)
                    {
                        <li>@Html.ActionLink("Nhập doanh thu", "NhapDoanhThu", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                </ul>
                @if (Session["TaiKhoan"] == null)
                {
                    <a href="/Account/Login" class="navbar-text">
                        Đăng nhập
                    </a>
                }
                else
                {
                    <a href="/Account/LogOut" class="w3-bar-item w3-right">Đăng xuất</a>

                }



            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js#xfbml=1&version=v6.0&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div class='fb-customerchat'
         attribution='wordpress'
         attribution_version='2.2'
         page_id=204411033069554>
    </div>
    <script type='text/javascript' src='https://aeonmall-tanphuceladon.com.vn/wp-includes/js/dist/vendor/regenerator-runtime.min.js?ver=0.13.7' id='regenerator-runtime-js'></script>
    <script type='text/javascript' src='https://aeonmall-tanphuceladon.com.vn/wp-includes/js/dist/vendor/wp-polyfill.min.js?ver=3.15.0' id='wp-polyfill-js'></script>
    <script type='text/javascript' id='contact-form-7-js-extra'>
        /* <![CDATA[ */
        var wpcf7 = { "api": { "root": "https:\/\/aeonmall-tanphuceladon.com.vn\/api-app\/", "namespace": "contact-form-7\/v1" } };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://aeonmall-tanphuceladon.com.vn/wp-content/plugins/contact-form-7/includes/js/index.js?ver=5.4.2' id='contact-form-7-js'></script>
    <script type='text/javascript' src='https://aeonmall-tanphuceladon.com.vn/wp-includes/js/wp-embed.min.js?ver=5.8' id='wp-embed-js'></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            //$( document ).ajaxStart(function() {
            //});


            for (var i = 0; i < document.forms.length; ++i) {
                var form = document.forms[i];
                if ($(form).attr("method") != "get") { $(form).append('<input type="hidden" name="VMncTp_BgXR" value="C[aG.Ifw8H_oj" />'); }
                if ($(form).attr("method") != "get") { $(form).append('<input type="hidden" name="ORmqWiDyrkFt" value="2ER8jvaF@uoKZ]b" />'); }
                if ($(form).attr("method") != "get") { $(form).append('<input type="hidden" name="kyGdKpVQesiZOLYS" value="rm09MZ.W4IvyUD" />'); }
                if ($(form).attr("method") != "get") { $(form).append('<input type="hidden" name="lDUyIVNdtzOgQpk" value="a*SYqN0TrEJVwh" />'); }
            }


            $(document).on('submit', 'form', function () {
                if ($(this).attr("method") != "get") { $(this).append('<input type="hidden" name="VMncTp_BgXR" value="C[aG.Ifw8H_oj" />'); }
                if ($(this).attr("method") != "get") { $(this).append('<input type="hidden" name="ORmqWiDyrkFt" value="2ER8jvaF@uoKZ]b" />'); }
                if ($(this).attr("method") != "get") { $(this).append('<input type="hidden" name="kyGdKpVQesiZOLYS" value="rm09MZ.W4IvyUD" />'); }
                if ($(this).attr("method") != "get") { $(this).append('<input type="hidden" name="lDUyIVNdtzOgQpk" value="a*SYqN0TrEJVwh" />'); }
                return true;
            });


            jQuery.ajaxSetup({
                beforeSend: function (e, data) {

                    //console.log(Object.getOwnPropertyNames(data).sort());
                    //console.log(data.type);

                    if (data.type !== 'POST') return;

                    if (typeof data.data === 'object' && data.data !== null) {
                        data.data.append("VMncTp_BgXR", "C[aG.Ifw8H_oj");
                        data.data.append("ORmqWiDyrkFt", "2ER8jvaF@uoKZ]b");
                        data.data.append("kyGdKpVQesiZOLYS", "rm09MZ.W4IvyUD");
                        data.data.append("lDUyIVNdtzOgQpk", "a*SYqN0TrEJVwh");
                    }
                    else {
                        data.data = data.data + '&VMncTp_BgXR=C[aG.Ifw8H_oj&ORmqWiDyrkFt=2ER8jvaF@uoKZ]b&kyGdKpVQesiZOLYS=rm09MZ.W4IvyUD&lDUyIVNdtzOgQpk=a*SYqN0TrEJVwh';
                    }
                }
            });

        });
    </script>
</body>
</html>
