@model IEnumerable<CNPMLyThuyet.Model.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PhongBanLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pass)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pass)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDUSER }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDUSER }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDUSER })
        </td>
    </tr>
}

</table>
